doctype html

html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')

    title= title

    link(rel='stylesheet' type='text/css' href='/stylesheets/flags/flags.min.css')
    link(rel='stylesheet' type='text/css' href='/stylesheets/style.css')

    script(type='text/javascript' src='/javascripts/jquery-3.3.1.min.js')
    script(type='text/javascript' src='/javascripts/jquery.cookie-1.4.1.min.js')

  script.
    $(document).ready(function() {   
      if ($.cookie('lang') == 'jp') {
        $('head').append("<link rel='stylesheet' type='text/css' href='/stylesheets/jp.css'>");
      }
    }); 

  body
    div.background

    div.header
      h1.logo(onclick="location.href='/'") DGDB

    div.lang-select
      p
        | <a href='?lang=en'><img class='flag flag-gb' src='/images/flags/blank.gif'></a>
        | <a href='?lang=fr'><img class='flag flag-fr' src='/images/flags/blank.gif'></a>
        | <a href='?lang=jp'><img class='flag flag-jp' src='/images/flags/blank.gif'></a>

    div.sidebar
    div.navigation
      p
        | <a href='/'>!{__('home:link_to')}</a>
        | <br>
        | <span class='subdued label'>!{__('layout:games')}</span>
        | <a class='small clr-3' href='/game/new'>!{__('game/new:link_to')}</a>
        | <br>
        if user
          | <span class='subdued label'>!{__('layout:logged-in-as')} !{user.name}</span>
          | <a class='small clr-2' href='/user/!{user.id}'>!{__('user/profile:link_to')}</a>
          | <a class='small subdued' href='/user/logout'>!{__('user/logout:link_to')}</a>
        else
          | <span class='subdued label'>!{__('layout:user-panel')}</span>
          | <a class='small clr-2' href='/user/login'>!{__('user/login:link_to')}</a>
          | <a class='small clr-2' href='/user/register'>!{__('user/register:link_to')}</a>

    div.main
      block content
