extends ../layout

block content
  if success
    div.section.success
      p= success

  if error
    div.section.error
      p= error

  form(action='/user/login' method='post')
    div.flex
      div
        div.section
          label(for='username') !{__('user/login:label-username')}<br>
          input#username(type='text' name='username' value=form.username maxlength='20' autocomplete='off')
          
          br
          br
          label(for='password') !{__('user/login:label-password')}<br>
          input#password(type='password' name='password' value=form.password maxlength='100' autocomplete='off')

      div
        div.section
          p !{__('user/login:description')}

    div.section
      center
        input(type='submit' value=__('user/login:button-log-in'))
