extends ../layout

block content
  if error
    div.section.error
      p= error

  form(action='/user/register' method='post')
    div.flex
      div.column-left
        div.section
          label(for='username') !{__('user/register:label-username')}<br>
          input#username(type='text' name='username' value=form.username maxlength='20' autocomplete='off')
          
          br
          br
          label(for='password') !{__('user/register:label-password')}<br>
          input#password(type='password' name='password' value=form.password maxlength='100' autocomplete='off')

          br
          br
          label(for='password_confirm') !{__('user/register:label-password_confirm')}<br>
          input#password_confirm(type='password' name='password_confirm' value=form.password_confirm maxlength='100' autocomplete='off')

      div.column-right
        div.section
          p !{__('user/register:description')}

    div.section
      center
        input(type='submit' value=__('user/register:button-register'))
